*{
    padding: 5px;
    margin: 5px;
    text-align: center;
    
    
}

#main-flex{
    background-color: antiquewhite;
    height: 800px;
    padding: 40px;
    margin: 50px;
    border: 2px solid rebeccapurple;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-around; */
    justify-content: space-between;
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    justify-content: space-evenly;
    justify-content: stretch;
    gap: 1.5rem;
    
}

.box{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 1rem;
    box-shadow: 2px 5px 10px ;
    background-color: rgb(169, 231, 231);
}