*{
    margin: 0;
    padding: 0;
}

#main-flex{
    border: 2px solid royalblue;
    height: 630px;
    margin: 45px;
    padding: 45px;
    /* display : flex --> it will show as inline context*/
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; --> changing the content in row/column */
    flex-direction: column;
    /* flex-wrap: wrap; --> if the screen is reduced then it will arrange accordingly
    in second row like row by row */
    /* justify-content: center; --> it will keep all the box in center even the screen
    size is resized similar methods like (flex-start --> from start, flex-end -->
    from end of the screen, space-around --> it has even space, space-between)*/
    /* 
    for changing content in X - axis :
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: flex-end;
    justify-content: flex-start;
    justify-content: space-evenly;
    justify-content: stretch;
    
    for changing content in y - axis :
    align-content: center;
    align-content: space-around;
    align-content: space-between;
    align-content: flex-end;
    align-content: flex-start;
    align-content: space-evenly;
    align-content: stretch;
    
    */
    gap: 0.5rem;
}

.box{
    border: 1px solid rgb(29, 31, 27);
    width: 100px;
    height: 100px;
    /* margin: 0 auto; --> this will seperate all the boxes outside*/
    background-color: rgb(182, 224, 210);
    

   
}